/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 10, 2018, 12:07:35 PM
    Author     : pupil
*/

h1{
    color: red;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Pacifico', cursive;
    font-size:45px;
    
}
ul {
    list-style-type: none;
    margin: 1%;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: center;
    
    
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size:30px;
}

li a:hover {
    background-color: #FFA07A;
}
h2{
    font-family: 'Quicksand', sans-serif;
font-family: 'Pacifico', cursive;
text-align: center;
}
p{
    font-size: 160%;
	color:black;
	font-family: 'Bitter', serif;
        text-align: center;


}